/*Keep div centered in middle of screen:
http://stackoverflow.com/questions/5012111/how-to-position-a-div-in-the-middle-of-the-screen-when-the-page-is-bigger-than-t

CSS Form Ideas:
https://www.sanwebe.com/2014/08/css-html-forms-designs
https://www.freshdesignweb.com/css-registration-form-templates/
https://dcrazed.com/free-css3-sign-up-registration-forms/
*/



.slickFont {
    font-family: Helvetica;
}

#slickSlider {
position: relative;
right: 0px;
}

#slickImage {
position: absolute;
box-shadow: 0 0 8px gray;
right: 0px;
top: 100px;
cursor: pointer;
}

#slickContactForm {
width:260px;
height:360px;
position:absolute;
right:0;
border:1px solid #d8d8d8;
margin-left:40px;
padding:20px 40px;
border-radius:3px;
box-shadow:0 0 8px gray;
visibility: hidden;
}

.slickInputBox input[type="text"] {
  padding: 10px;
  margin-left: -40px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.slickInputBox input[type="text"]:focus,
.slickInputBox input[type="text"].focus {
  border-bottom: solid 4px #c9c9c9;
}